﻿html, body {
    height:100%;
    min-height: 100%;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #161617;
    color: white;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    background-color: #2a75b5;
    min-height: 100%;
    margin-bottom: 50px;
}


footer p 
{
    color: white;
    text-align: center;
    margin-top: 15px;   
}

/* Bootstrap overrides */

.form-group {
    margin: 3% 8%;
}

.panel-group .panel {
    margin-bottom: 10px;
}

.panel-group .panel + .panel {
    margin-top: 10px;
}

.panel-default > .panel-heading {
    background-color: #a4bed8;
}

.panel-heading {
    padding: 5px 15px;
}

.panel-body
{
    color: black;
}

.dl-horizontal dt {
    white-space: normal;
}

.label-info {
    background-color: #ffffff;
}

.label {
    color: #000000;
}

textarea {
    resize: none;
}
