﻿@model ImageHub.Core.ViewModels.Home.ContactFormViewModel
@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
@using (Html.BeginForm("Contact", "Home", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control"})
        @Html.ValidationMessageFor(m => m.Name)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Email)
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Email)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Message)
        @Html.TextAreaFor(m => m.Message, 10, 3, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Message)
    </div>

    <div class="form-group">
        <input type="submit" class="btn btn-primary"/>
    </div>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}