﻿@using Microsoft.AspNet.Identity
@model ImageHub.Core.ViewModels.ImageCatalog.CategoryViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.CategoryName</h2>

@if (!Model.ImageEntries.Any())
{
    <p>No images to display</p>
}
else
{
    @:<div class="row" style="margin-top: 50px;height: 200px">
        foreach (var imageEntry in Model.ImageEntries)
    {
        <div data-id="imageEntry_@imageEntry.Id" class="col-xs-6 col-sm-3 col-md-3 col-lg-3 text-center" style="padding:10px; font-size:14px">
            <a href="@imageEntry.ImageFile">
                <img src="@imageEntry.ThumbnailFile" alt="" data-toggle="tooltip" title="@imageEntry.Description" class="img-thumbnail" style="width: 80px; height: 80px" />
            </a>

            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="overflow: hidden; white-space: nowrap">
                    <span class="label label-info">Uploaded by</span><br />@imageEntry.UploadedBy
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="overflow: hidden; white-space: nowrap">
                    <span class="label label-info">Uploaded at</span><br />@imageEntry.Uploaded
                </div>
            </div>
            @if ((User.Identity.IsAuthenticated) && (imageEntry.Uploader == User.Identity.GetUserId()))
            {
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <button data-id="@imageEntry.Id" class="btn btn-sm btn-danger">Delete</button>
                    </div>
                </div>
            }
            else
            {
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="height:30px">
                        &nbsp;
                    </div>
                </div>
            }
        </div>
    }
    @:</div>
}

@section scripts {
    <!-- Content Here -->
    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();

            $("button").click(function () {
                $(this).prop("disabled", true);
                var imageEntryId = $(this).attr("data-id");
                if (imageEntryId) {

                    $.ajax({
                        url: "/api/image/" + imageEntryId,
                        type: "DELETE"
                    })
                            .done(function () {
                                var imageEntry = "imageEntry_" + imageEntryId;
                                $("[data-id='" + imageEntry + "']").hide();
                            })
                            .fail(function (jqXhr, textStatus, errorThrown) {
                                alert(textStatus);
                            });
                }
            });

        });  
    </script>
}

