﻿@model ImageHub.Core.ViewModels.ImageCatalog.UploadViewModel
@{
    ViewBag.Title = "Upload Image";
}

<h2>@ViewBag.Title</h2>
@using (Html.BeginForm("Upload", "ImageCatalog", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="form-group">
        @Html.LabelFor(m => m.ImageFile)
        <input type="file" class="form-control" id="@Html.IdFor(m => m.ImageFile)" name="@Html.NameFor(m=> m.ImageFile)">
        @Html.ValidationMessageFor(m => m.ImageFile)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Description)
        @Html.TextBoxFor(m => m.Description, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Description)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.CategoryId)
        @Html.DropDownListFor(m => m.CategoryId, new SelectList(Model.CategoryItems, "Id", "Name"), new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.CategoryId)
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Upload</button>
    </div>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}
